<h1>Contact</h1>


<h2>Jönköping City</h2>
<p> Vi är ett cityutvecklingsbolag som utvecklar, aktiverar och skapar trivsel i Jönköpings stadskärna för alla verksamheter, boende och besökande. Du behöver inte vara medlem eller betala någon avgift - finns du i city är du en del av Jkpg city.</p>
<br>
<h2>Vision</h2>
<p>Jönköpings city är en plats för upplevelser och nya minnen. Men lika mycket en välkomnande och levande stadskärna för alla som bor och verkar här – under årets alla dagar. Vårt löfte: Du är centrum.

</p>
<h2>Organisation</h2>
<p>Sven Rydell, VD</p>
<p>Tommy Grdic, Näringslivsutvecklare
</p>
<p>Kristoffer Johansson, Eventansvarig  
</p>
<p>Beata Stigmarker, Kommunikations- och marknadsansvarig 
</p>

